/node_modules
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/storage/profilePhotos/1.jpeg
/storage/app/public/profilePhotos/1.jpeg
/public/storage/profilePhotos/1.png
/storage/app/public/profilePhotos/1.png
/public/storage/profilePhotos/2.jpeg
/storage/app/public/profilePhotos/2.jpeg
/public/storage/profilePhotos/2.png
/public/storage/profilePhotos/3.jpeg
